* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    background-color: burlywood;
}

.btn {
    &__login {
        border: none;
        padding: 0.6rem;
        background-image: linear-gradient(to right bottom, #912a2c, #143b27);
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.4s;
        box-shadow: 0 0.3rem 1rem rgba(#aaa, 0.2);
        border-radius: 5px;

        &:hover {
            background-image: linear-gradient(to left top, #912a2c, #143b27);
            // box-shadow: 0 .8rem 2rem rgba(#aaa,.2);
            box-shadow: none;
            transform: scale(1.05);
            border-radius: 5px;
            // overflow: hidden;
            // backface-visibility: hidden;
        }
    }

    &__container {
        box-shadow: none;
        transition: all 0.2s;

        grid-row: 1 / 2;
        grid-column: login-start / login-end;
        align-self: center;

        &:hover {
            box-shadow: 0 0.3rem 1rem rgba(#aaa, 0.3);
            // overflow: hidden;
            backface-visibility: hidden;
        }
    }
}